body{
	background:#e2e2e2;
	font-family: 'Dosis', sans-serif;
	}
h1{
	color: red;
	margin-left: 100px;
}
p{
	text-align: center;
}
.main{
	text-align: center;
	color: green;
	background: yellow;
}
.logo{ 
	margin-top: 5px;
	margin-right: 5px;
	}
img{
	margin: 0 auto;
	}
.profile{
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
	border-radius: 90px;
	margin-bottom: 30px;
	}